<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/signup">Sign Up and get some cookies...before they're all gone</a>
      </div>
    </div>
  </div>