<%= render :partial => 'common/header', :locals => {:user => current_user}%>

<center>
<h1>Some totally awesome links:
  </h1>
<br><br>

<% @links.each do |link| %>
<%= link_to link.url, link.url %>

<br>

<% end %>

</center>