<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <% if signed_in? %>
          <a class="brand" href="/user/profile" ><%= user.name %></a>
          <span class="brand"> | </span>
          <a class="brand" href="/signout" data-method="delete" rel="nofollow">Sign Out</a>
          <a class="brand" href="/links/new">Submit</a>
        <% else %>
          <a class="brand" href="/signin">Sign In</a>
        <% end %>
      </div>
    </div>
  </div>
